.footer{
    background-color: black;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer li {
    cursor: pointer;
}